.dashboard-container {
  height: calc(100vh - 120px);
  overflow-y: scroll;
  border-radius: 12px;

  /* Hide scrollbal for IE, Edge, Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.dashboard-container::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari, Opera */
  display: none;
}
