.profile-sum-sontainer {
  height: 100%;

  background: url("../../../assets/images/undraw_personal_trainer_re_cnua.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: left center;
}
